In [8]:
import pandas as pd

df= pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df.head()
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#' + col[1:]}, inplace=True)
# df.head()
name_ids= df.index.str.split('\s\(')
df.index= name_ids.str[0]
df['ID']= name_ids.str[1].str[0:3]
df=df.drop('Totals')

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [19]:
# Countries who has won atleast one Gold in summer and winter games
atleast1gold = df[(df['Gold']>=1) & (df['Gold.1']>=1)]
atleast1gold

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68,CZE
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40,EST
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER
United Team of Germany,3,28,54,36,118,3,8,6,5,19,6,36,60,41,137,EUA
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN
Kazakhstan,5,16,17,19,52,6,1,3,3,7,11,17,20,22,59,KAZ
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29,SVK
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34,SLO
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB

In [22]:
relative_max_gold= ((atleast1gold['Gold']-atleast1gold['Gold.1'])/atleast1gold['Gold.2'])
relative_max_gold

Australia                 0.930556
Austria                  -0.532468
Belarus                   0.333333
Belgium                   0.947368
Bulgaria                  0.961538
Canada                   -0.024793
China                     0.887324
Croatia                   0.200000
Czech Republic            0.333333
Czechoslovakia            0.921569
Estonia                   0.384615
Finland                   0.412587
France                    0.733906
Germany                   0.380952
United Team of Germany    0.555556
East Germany              0.593750
West Germany              0.671642
Great Britain             0.918699
Italy                     0.685106
Japan                     0.857143
Kazakhstan                0.882353
South Korea               0.514019
Netherlands               0.350877
Norway                   -0.356322
Poland                    0.828571
Russia                    0.458564
Soviet Union              0.670190
Unified Team              0.666667
Slovakia                  0.555556
Slovenia                  0.333333
Spain                     0.947368
Sweden                    0.481865
Switzerland              -0.030928
Ukraine                   0.885714
United States             0.820896
Uzbekistan                0.666667
dtype: float64

In [24]:
atleast1gold[relative_max_gold == relative_max_gold.max()].index[0]

'Bulgaria'

In [196]:
df['Points']= df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']
df['Points']

array([   2,   27,  130,   16,   22,  923,  569,   43,   24,    1,    1,
        154,  276,    1,    5,    2,  184,    2,  411,    3,   12,  846,
         24, 1120,   29,    7,    2,   67,  420,    2,  134,  327,  335,
          1,   14,    5,   49,    1,   77,   94,  895, 1500,    2,   42,
       1546,  269, 1068,  459,    5, 1574,  213,    3,    2,    1,    3,
          6,  962,    6,   50,   49,  110,    1,   55,   10, 1333,  131,
        866,  113,  168,   90,  609,    2,    4,   47,    6,   15,   38,
          9,    1,    9,    1,  109,    9,   37,    2,   39,    4,    8,
        727,    2,  203,    1,   37,  985,   19,    5,    2,    9,   11,
        520,   39,   10,    4,  572, 1042,   14, 2526,  287,    4,    2,
         11,   17,    6,   58,   56,  148,  268,    4,    2,    4, 1217,
        630,    6,   32,    4,    4,   44,    1,    2,   27,   19,  191,
         14,  220,    3, 5684,   16,   38,   18,    4,    2,  171,    4,
          3,   18,   38])

In [194]:
census_df = pd.read_csv('census.csv')
# census_df = census_df[census_df['SUMLEV']==50]
# census_df= census_df.set_index(['STNAME'])
# states= census_df.index.unique()
# county= states.shape
# census_df.index[1]
# max=0
# count=0
# max_county_state=[]
# for i in states:
#     count=0
#     for j in census_df.index:
#         if j == i:
#             count +=1
#     if count > max:
#         max=count
#         max_county_state = i
# max_county_state

census_df.groupby('STNAME')['CTYNAME'].count().idxmax()

# census_df

'Texas'

In [203]:
# census_df = pd.read_csv('census.csv')
# census_df= census_df[census_df['SUMLEV']==50]
# columns_to_keep=['STNAME','CTYNAME','CENSUS2010POP']
# census_df= census_df[columns_to_keep]
# states= census_df['STNAME'].unique()
# census_df= census_df.set_index(['STNAME','CENSUS2010POP'])
# # type(census_df.index)
# # census_df = census_df.sort_index()
# census_df= census_df.sort_index(axis=0,level=(0,1), ascending=False)
# for i in states:
#     for j in census_df:

census_df = pd.read_csv('census.csv')
df_c = census_df[census_df['SUMLEV']==50]
df_c = df_c.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
df_c= df_c.reset_index()
df_c = df_c.groupby('STNAME')['CENSUS2010POP'].sum()
list(df_c.nlargest(3).index)

# states
# census_df.sort_index?
# census_df

['California', 'Texas', 'Illinois']

In [241]:
census_df = pd.read_csv('census.csv')
df_c = census_df[census_df['SUMLEV']==50]
df_c= df_c[['CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]
df_c['max']= df_c.max(axis=1)
df_c['min']= df_c.min(axis=1)
df_c['diff']= abs(df_c['max']- df_c['min'])
indic= df_c['diff'].idxmax()
df_c.loc[indic,'CTYNAME']
# df_c

'Harris County'

In [242]:
d = census_df[census_df.SUMLEV==50].copy()
d['max'] = d[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1)
d['min'] = d[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)
d['diff'] = d['max'] - d['min']

d[d['diff'] == d['diff'].max()].iloc[0]['CTYNAME']

'Harris County'

In [271]:
census_df = pd.read_csv('census.csv')
d = census_df[census_df.SUMLEV==50].copy()
d = d[['REGION', 'STNAME', 'CTYNAME', 'POPESTIMATE2014', 'POPESTIMATE2015']]
# print(len(d))
d_r12= (d['REGION']==1) | (d['REGION']==2)
# print(len(d_r12))
d_pop= d['POPESTIMATE2015']> d['POPESTIMATE2014']
# print(len(d_pop))
d_wash= d['CTYNAME'].str.startswith('Washington')
# print(len(d_wash))
d[d_r12 & d_pop & d_wash][['STNAME','CTYNAME']]
# d_final[['STNAME','CTYNAME']]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County