# Python Programming Language: Functions

In [12]:
x=1;y=2; print(x+y)
p=10
q=11
print(p+q)

3
21

In [9]:
b

11

###### add_numbers is a function which ad 2 nos and return the sum and assign function add_number to a variable a

In [18]:
def add_numbers(x,y):
    return x+y
b=add_numbers(3,4)
print(a)
a= add_numbers
a(10,100)

7

110

###### add_numbers updated to take an optional 3rd parameter. Using print allows printing of multiple expressions within a single cell.

In [22]:
def add_numbers(x,y,z=None):
    if z==None:
        return x+y
    else:
        return x+y+z
print(add_numbers(3,4))
print(add_numbers(3,4,5))

7
12

###### add_numbers updated to take an optional flag parameter.

In [15]:
def add_numbers(x,y,z=None, flag=False):
    if (flag):
        print('Flag is True!!')
    if z==None:
        return x+y
    else:
        return x+y+z
print(add_numbers(3,4, flag=True))
print(add_numbers(3,4,5))

Flag is True!!
7
12

# Types and Sequences

###### Using type to return type of the object

In [27]:
print(type('What is your name?'))
print(type(None))
print(type(True))
print(type(1))
print(type(1.0))
print(type(add_numbers))

<class 'str'>
<class 'NoneType'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'function'>

##### Tuples are immutable data structure, lists are mutable data structure

In [28]:
x= (1,'a',2,'b'); print(type(x))

<class 'tuple'>

In [30]:
x=[1,'a',2,'b'];print(type(x))

<class 'list'>

In [32]:
x.append(3) # we executes this line twice thatswhy 3 is being inserted twice
print(x)

[1, 'a', 2, 'b', 3, 3]

In [33]:
x.append(5)
print(x)

[1, 'a', 2, 'b', 3, 3, 5]

##### Looping through each item in list or using indexing operator

In [35]:
for i in x:
    print(i)

1
a
2
b
3
3
5

In [36]:
i=0; 
while(i!=len(x)):
    print(x[i])
    i +=1

1
a
2
b
3
3
5

In [37]:
[1,2,3,4] + ['a','b','c','d'] # Use + to concatenate lists

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [38]:
[1,2]*3 # Use * to repeat lists

[1, 2, 1, 2, 1, 2]

In [41]:
1 in [4,5,6,7] # Use the in operator to check if something is inside a list.

False

In [42]:
1 in [4,5,6,7,1]

True

In [43]:
x='This is a ipython notebook'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters
print(x[-1]) # print last element of the string
print(x[:-1])
print(x[-4:-1])#This will return the slice starting from the 4th element from the end and stopping
                # before the 1st element from the end.
print(x[-1:])

T
T
Th
k
This is a ipython noteboo
boo
k

In [44]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

##### `split` returns a list of all the words in a string, or a list split on a specific character.

In [47]:
words_in_string = 'Christopher Arthur Hansen Brooks'.split(' ') # returns list of all words in the string
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(words_in_string)
print(firstname)
print(lastname)

['Christopher', 'Arthur', 'Hansen', 'Brooks']
Christopher
Brooks

In [54]:
##  'chris' + 2 #It'll give error as type of both are different so before adding covert 2 to string
'chris' + str(2) # or 'chris' + '2'

'chris2'

Dictionaries associate keys with values.

In [58]:
facebook= {1:'login',2:'username',3:'password',4:'changePassword',5:'logout'}
facebook[6]=None
facebook[3]

'password'

In [59]:
#Iterate over all the keys
for i in facebook:
    print(facebook[i])

login
username
password
changePassword
logout
None

In [60]:
#Iterate over all values
for action in facebook.values():
    print(action)

login
username
password
changePassword
logout
None

In [61]:
#Iterate over all items in the list
for i,action in facebook.items():
    print(i)
    print(action)

1
login
2
username
3
password
4
changePassword
5
logout
6
None

In [62]:
# we can unpack a sequence into different variables:
# Make sure the number of values you are unpacking matches the number of variables being assigned.
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
fname, lname

('Christopher', 'Brooks')

##### Python has a built in method for convenient string formatting.

In [64]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['price']*sales_record['num_items']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

## Reading and Writing CSV files

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

mpg : miles per gallon
class : car classification
cty : city mpg
cyl : # of cylinders
displ : engine displacement in liters
drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
hwy : highway mpg
manufacturer : automobile manufacturer
model : model of car
trans : type of transmission
year : model year

In [66]:
import csv
%precision 2
with open('mpg.csv') as csvfile:
    mpg= list(csv.DictReader(csvfile))
mpg[:3] # The first three dictionaries in our list.

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [67]:
# csv.Dictreader has read in each row of our csv file as a dictionary. len shows that our list is comprised of 234 dictionaries.
len(mpg)

234

In [70]:
mpg[0].keys()

dict_keys(['', 'class', 'model', 'drv', 'cty', 'displ', 'cyl', 'manufacturer', 'year', 'hwy', 'fl', 'trans'])

In [71]:
mpg[0].values()

dict_values(['1', 'compact', 'a4', 'f', '18', '1.8', '4', 'audi', '1999', '29', 'p', 'auto(l5)'])

In [72]:
# to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.
sum(float(d['cty']) for d in mpg)/ len(mpg)

16.86

In [73]:
# Similarly this is how to find the average hwy fuel economy across all cars.
sum(float(d['hwy']) for d in mpg)/ len(mpg)

23.44

In [74]:
# Use set to return the unique values for the number of cylinders the cars in our dataset have.
cylinders= set(d['cyl'] for d in mpg)
print(cylinders)

{'4', '5', '8', '6'}

### grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [77]:
City_mpg_byCyl=[]

for c in cylinders:
    sumpg=0
    cyltypecount=0
    for d in mpg:
        if d['cyl']== c:
            sumpg += float(d['cty'])
            cyltypecount +=1
    City_mpg_byCyl.append((c,sumpg / cyltypecount))
City_mpg_byCyl.sort(key= lambda x:x[0])
City_mpg_byCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [78]:
# Use set to return the unique values for the class types in our dataset.
vehicleclass= set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

### And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [82]:
hwy_mpg_byClass= []

for c in vehicleclass:
    sumpg= 0
    vclasscount=0
    for d in mpg:
        if d['class']== c:
            sumpg += float(d['hwy'])
            vclasscount += 1
    hwy_mpg_byClass.append((c, sumpg/vclasscount))
hwy_mpg_byClass.sort(key=lambda x: x[1])
hwy_mpg_byClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

### DATE AND TIME

In [86]:
import datetime as dt
import time as tm

tm.time()/(86400*365) #time returns the current time in seconds since the Epoch. (January 1st, 1970)

47.15

In [89]:
dtnow= dt.datetime.fromtimestamp(tm.time()) # Convert the timestamp to datetime.
print(dtnow)
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

2017-02-12 17:53:04.220087

(2017, 2, 12, 17, 53, 4)

In [90]:
delta= dt.timedelta(days=100)
delta

datetime.timedelta(100)

In [92]:
today= dt.date.today()
today

datetime.date(2017, 2, 12)

In [93]:
today - delta

datetime.date(2016, 11, 4)

In [94]:
today > today-delta

True

## Objects and map()

In [98]:
class person:
    dep= 'Web Sciences lab'
    def set_name(self, new_name):
        self.name= new_name
    def set_location(self, new_location):
        self.location= new_location
person= person()
person.set_name('Vivek')
person.set_location('Bangalore, karnataka')
print('{} lives in {} and works in the department {}'.format(person.name, person.location, person.dep))

Vivek lives in Bangalore, karnataka and works in the department Web Sciences lab

In [99]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest= map(min, store1, store2)
cheapest

In [100]:
for c in cheapest:
    print(c)

9.0
11.0
12.34
2.01

### Problem to get the title and last name from the list 'people'

In [235]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
  
def split_title_and_name(person):
    return person.split()[0] +' ' + person.split()[-1]
  
list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [121]:
# Alter way of doing this
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

## Lambda and List Comprehensions

In [101]:
# Here's an example of lambda that takes in three parameters and adds the first two.
my_func= lambda x,y,z: x+y
my_func(5,9,10)

14

### Writing function as lambdas

In [236]:

people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
#list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

In [117]:
# iterate from 0 to 41 and return the even numbers.
my_list=[]
for i in range(0,41):
    if (i%2)==0:
        my_list.append(i)
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [118]:
# Now the same thing but with list comprehension.
my_list=[i for i in range(1,41) if i%2 ==0]
my_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [241]:
# Converting function into a list comprehension
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [i*j for j in range(10) for i in range(10)]

# lst= [i*j for i in range(10) for j in range(10)]
# lst

True

## Numerical Python (NumPy)

In [122]:
import numpy as np
# Create a list and convert it to a numpy array
my_list= [1,2,3,4]
x= np.array(my_list)
x

array([1, 2, 3, 4])

In [123]:
y= np.array([1,2,3,4])
y

array([1, 2, 3, 4])

In [125]:
m=np.array([[1,2,3],[4,5,6]])
m

array([[1, 2, 3],
       [4, 5, 6]])

In [126]:
m.shape

(2, 3)

In [127]:
# arange returns evenly spaced values within a given interval.
n= np.arange(0,30,2) # start at 0 count up by 2, stop before 30
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [128]:
n= n.reshape(3,5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [134]:
# linspace returns evenly spaced numbers over a specified interval.
n= np.linspace(0,5,10)
n

array([ 0.        ,  0.55555556,  1.11111111,  1.66666667,  2.22222222,
        2.77777778,  3.33333333,  3.88888889,  4.44444444,  5.        ])

In [136]:
n.resize(2,5)
n

array([[ 0.        ,  0.55555556,  1.11111111,  1.66666667,  2.22222222],
       [ 2.77777778,  3.33333333,  3.88888889,  4.44444444,  5.        ]])

In [139]:
np.ones((2,4))

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.]])

In [140]:
np.zeros((2,4))

array([[ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.]])

In [142]:
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [143]:
np.array([1,2,3]*3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [144]:
np.repeat([4,5,6],3)

array([4, 4, 4, 5, 5, 5, 6, 6, 6])

In [147]:
p= np.ones([2,3],int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [148]:
np.vstack([p,2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [149]:
np.hstack([p,2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

In [155]:
x=np.array([1,2,3])
x

array([1, 2, 3])

In [157]:
y=np.array([4,5,6])
y

array([4, 5, 6])

In [158]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[ 0.25  0.4   0.5 ]
[1 4 9]

In [159]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

32

In [163]:
z=np.array([y,y**2])
print(z)
print(len(z)) # number of rows of array
print(z.shape)

[[ 4  5  6]
 [16 25 36]]
2
(2, 3)

In [164]:
z.T # Use .T to get the transpose.

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [165]:
z.T.shape #The number of rows has swapped with the number of columns.

(3, 2)

In [166]:
z.dtype # Use .dtype to see the data type of the elements in the array.

dtype('int64')

In [169]:
z=z.astype('f') # Use .astype to cast to a specific type.
z.dtype

dtype('float32')

## Math Functions

In [170]:
a= np.array([-4,-2,1,3,5])
a

array([-4, -2,  1,  3,  5])

In [172]:
print(a.sum())
print(a.max())
print(a.min())
print(a.mean())
print(a.std())
# argmax and argmin return the index of the maximum and minimum values in the array.
print(a.argmax())
print(a.argmin())

3
5
-4
0.6
3.26190128606
4
0

## Indexing / Slicing

In [176]:
s= np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

In [180]:
# Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.
print(s[0],s[4],s[-1])
# Use : to indicate a range. array[start:stop]
# Leaving start or stop empty will default to the beginning/end of the array
# Use negatives to count from the back.
print(s[1:5])
print(s[:5])
print(s[5:])
print(s[-4:])
print(s[:-5])

0 16 144
[ 1  4  9 16]
[ 0  1  4  9 16]
[ 25  36  49  64  81 100 121 144]
[ 81 100 121 144]
[ 0  1  4  9 16 25 36 49]

In [181]:
# A second : can be used to indicate step-size. array[start:stop:stepsize]
# Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.
print(s[-5::-2])

[64 36 16  4  0]

In [182]:
# Multidimensional array
r= np.arange(36)
r.resize(6,6)
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [183]:
print(r[2,2])

14

In [188]:
print(r[2,:])
print(r[3,3:6])
print(r[3:,3:])
# Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.
print(r[:2,:-1])

[12 13 14 15 16 17]
[21 22 23]
[[21 22 23]
 [27 28 29]
 [33 34 35]]
[[ 0  1  2  3  4]
 [ 6  7  8  9 10]]

In [189]:
# This is a slice of the last row, and only every other element.
r[-1,::2]

array([30, 32, 34])

In [192]:
# We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. 
r[r>30]

array([31, 32, 33, 34, 35])

In [199]:
# Here we are assigning all values in the array that are greater than 30 to the value of 30.
r[r>30]=30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [209]:
np.where(r>29)

(array([5, 5, 5, 5, 5, 5]), array([0, 1, 2, 3, 4, 5]))

In [213]:
r[np.where(r>29)]

array([30, 30, 30, 30, 30, 30])

In [211]:
np.where(r<6)

(array([0, 0, 0, 0, 0, 0]), array([0, 1, 2, 3, 4, 5]))

In [212]:
r[np.where(r<6)]

array([0, 1, 2, 3, 4, 5])

## Copying Data
### Be careful with copying and modifying arrays in NumPy!
### r2 is a slice of r

In [214]:
r2= r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [216]:
# Set this slice's values to zero ([:] selects the entire array)
r2[:]=0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [217]:
# r has also been changed!
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [221]:
# To avoid this, use r.copy to create a copy that will not affect the original array
r= np.arange(36)
r.resize(6,6)
r_copy= r.copy()
r3= r_copy[:3,:3]
r3

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [222]:
r3[:]=0
r3

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [227]:
# Now when r_copy is modified, r will not be changed.
print(r_copy,'\n')
print(r)

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

## Iterating Over Arrays
### Let's create a new 4 by 3 array of random numbers 0-9.

In [228]:
test= np.random.randint(0,10,(4,3))
test

array([[9, 4, 5],
       [2, 2, 9],
       [3, 7, 6],
       [1, 0, 4]])

In [229]:
# Iterate by row:
for row in test:
    print(row)

[9 4 5]
[2 2 9]
[3 7 6]
[1 0 4]

In [230]:
# Iterate by index
for i in range(len(test)):
    print(test[i])

[9 4 5]
[2 2 9]
[3 7 6]
[1 0 4]

In [231]:
#Iterate by row and index:
for i, row in enumerate(test):
    print('row',i,'is',row)

row 0 is [9 4 5]
row 1 is [2 2 9]
row 2 is [3 7 6]
row 3 is [1 0 4]

In [232]:
test2= test**2
test2

array([[81, 16, 25],
       [ 4,  4, 81],
       [ 9, 49, 36],
       [ 1,  0, 16]])

In [233]:
# Use zip to iterate over multiple iterables.
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[9 4 5] + [81 16 25] = [90 20 30]
[2 2 9] + [ 4  4 81] = [ 6  6 90]
[3 7 6] + [ 9 49 36] = [12 56 42]
[1 0 4] + [ 1  0 16] = [ 2  0 20]

In [247]:
temp= np.arange(36)
print(temp[::7])
temp.resize(6,6)
temp

[ 0  7 14 21 28 35]

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [249]:
temp.reshape(36)[::7]

array([ 0,  7, 14, 21, 28, 35])

In [250]:
['a','b','c']+[1,2,3]

['a', 'b', 'c', 1, 2, 3]

In [251]:
type(lambda x:x+1)

function

In [258]:
# Generate all possible pair containig two letter and 2 digits(like aa11) from given string and digit
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

print(lowercase[1]+ digits[2])
ans= [lowercase[i]+ lowercase[j]+ digits[k]+digits[l] for l in range(len(digits)) for k in range(len(digits)) for j in range(len(lowercase)) for i in range(len(lowercase))]
ans[0:50]

b2

['aa00',
 'ba00',
 'ca00',
 'da00',
 'ea00',
 'fa00',
 'ga00',
 'ha00',
 'ia00',
 'ja00',
 'ka00',
 'la00',
 'ma00',
 'na00',
 'oa00',
 'pa00',
 'qa00',
 'ra00',
 'sa00',
 'ta00',
 'ua00',
 'va00',
 'wa00',
 'xa00',
 'ya00',
 'za00',
 'ab00',
 'bb00',
 'cb00',
 'db00',
 'eb00',
 'fb00',
 'gb00',
 'hb00',
 'ib00',
 'jb00',
 'kb00',
 'lb00',
 'mb00',
 'nb00',
 'ob00',
 'pb00',
 'qb00',
 'rb00',
 'sb00',
 'tb00',
 'ub00',
 'vb00',
 'wb00',
 'xb00']

In [259]:
# Alter 
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]
correct_answer[0:50]

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']